.product__page {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.product__image__container {
    margin: 0 50px;
    position: relative;
    width:370px;
    height: 491px;
}

.product__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__desc {
    width: 40%;
}

.product__title {
    margin-bottom: 30px;
    font-size: 18px;
}

.product__comments {
    font-size: 18px;
}

.product__comment {
    margin: 24px 0;
}

.product__comment__date {
    padding-top: 16px;
    font-size: 16px;
    font-style: italic;
    float: right;
}

.product__color {
    margin-bottom: 30px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product__color__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 8px;
    border: 1px solid #afafaf;
}

.button__delete {
    margin-left: 12px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button__delete:hover {
    transform: scale(1.10);
    color: red;
}

.button__edit {
    margin-top: 35px;
    width: 120px;
    height: 40px;
    padding: 10px;
    background-color: rgb(172, 159, 60);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 1px 2px black;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.button__edit:hover {
    transform: scale(1.10);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.282);
}